{% extends "base.html" %}

{% block content %}
    {% if books %}
            <h3>The books are:</h3>
            <ul>
                {% for book in books %}
                <div id = indexes>
                        <img src = "/media/{{ book.book_cover }}"
width="150" height="150">
                        <a href = "/books/{{ book.id }}/" >{{book.
book_title}} </a>
                        <br>
                </div>

                {% endfor %}
            </ul>
        {% else %}
        <h3>you don't have any books</h3>
    {% endif %}
{% endblock %}
