{% extends "base.html" %}

{% block content %}

    {% if books %}
            <h3 align ="center" style= "font-size: 45px; color: #2b5b81; font-family: 'satisfy';">The books are:</h3>
            <ul>
                {% for book in books %}
                <div id = indexes>
                          <p><a href = "/books/{{ book.id }}/" ><img src = "/media/{{ book.book_cover }}" width="250" height="250">{{book.book_title}} </a></p>

                          <p>published: {{ book.published_at }}</p>
                          <!-- <h1 style= "font-size: 30px;  font-family: 'satisfy';">{{ book.book_description }}</h1> -->
                          <br>
                </div>

                {% endfor %}
            </ul>
        {% else %}
        <h3>you don't have any books</h3>
    {% endif %}
  </body>
{% endblock %}
