{% extends "base.html" %}
{% block content %}

        <p>
            <div style=  "background-color: rgb(194, 174, 182);
            height: auto;
            width: 45%;
            font-family: 'satisfy';
            font-size: 40px";>
            <h1 style= "text-align: center;color: #2b5b81; font-family: 'satisfy';
            font-size: 40px">Welcome {{ request.user }}</h1>
                    <br>
            <a href="/books">Browse all books: </a>
            <h1 style= "font-size: 45px; color: #2b5b81;">Your recently rated books:</h1>
            {% for rate in UserRateList %}
            <a href ="/books/{{ rate.book.id }}/" > <img class="card-img-top" src="/media/{{ rate.book.book_cover }}" alt="" style="width:200px;height:200px;">

                {{ rate.book }}:
            </a>
                <h3>{{ rate.rate }} Stars</h3>
            {% endfor %}

            <h1 style= "font-size: 45px; color: #2b5b81;">Books which you plan to read:</h1>
            {% for wbook in UserWishList %}
            <a href ="/books/{{ wbook.book.id }}/" > <img class="card-img-top" src="/media/{{ wbook.book.book_cover }}" alt="" style="width:200px;height:200px;">

              {{ wbook.book }}</a>
              <br>
              <br>
            {% endfor %}

            <h1 style= "font-size: 45px; color: #2b5b81;">Books which you already read:</h1>
            {% for rbook in UserReadList %}
              <a href ="/books/{{ rbook.book.id }}/" ><img class="card-img-top" src="/media/{{ rbook.book.book_cover }}" alt="" style="width:200px;height:200px;">
                {{ rbook.book }}</a>
                <br>
                <br>
            {% endfor %}

            <h1 style= "font-size: 45px; color: #2b5b81;">Authors that you follow:</h1>
            {% for author in UserFollowList %}
            <a href = "/authors/{{ author.author.id }}/"> <img class="card-img-top" src="/media/{{ author.author.author_img }}" alt="" style="width:200px;height:200px;">
              {{ author.author }}</a> <br>
              <br>

            {% endfor %}
            </div>
        </p>


{% endblock %}
