{% extends "base.html" %}
{% block content %}
    <p>
        <h1>Welcome {{ request.user }}</h1>
        <br>
        <a href="/books">Browse all boooks: </a>
        <h1>Your recently rated books:</h1>
        {% for rate in UserRateList %}
            <img class="card-img-top" src="/media/{{ rate.book.book_cover }}" alt="" style="width:50px;height:50px;">
            <br>
            <h5>{{ rate.book }}: {{ rate.rate }} Stars</h5>
        {% endfor %}

        <h1>Books which you plan to read:</h1>
        {% for wbook in UserWishList %}
          <img class="card-img-top" src="/media/{{ wbook.book.book_cover }}" alt="" style="width:50px;height:50px;">
          <br>
          <h5>{{ wbook.book }}</h5>
        {% endfor %}

        <h1>Books which you already read:</h1>
        {% for rbook in UserReadList %}
          <img class="card-img-top" src="/media/{{ rbook.book.book_cover }}" alt="" style="width:50px;height:50px;">
          <br>
          <h5>{{ rbook.book }}</h5>
        {% endfor %}

        <h1>Authors that you follow:</h1>
        {% for author in UserFollowList %}
          <img class="card-img-top" src="/media/{{ author.author.author_img }}" alt="" style="width:150px;height:150px;">
          <br>
          <h5>{{ author.author }}</h5>
        {% endfor %}
    </p>


{% endblock %}
