<body style="background-image: url('/media/4.jpeg') ; background-size: 100%; ">

{% extends 'base.html' %}


{% block content %}
<div style="width:100%; height:100%;padding-left:20px;padding-top:20px;background-color:black; opacity:0.7;width:50%; height:80%">
  <img class="card-img-top" src="/media/{{ author.author_img }}" alt="" style="width:250px;">

<ul>
    <li>
        <h1 style= "font-size: 30px; color: #2b5b81; font-family: 'satisfy' ">Author name is {{ authorName}}</h1>
    </li>
    <li>
        <h1 style= "font-size: 30px; color: #2b5b81; font-family: 'satisfy' ">Author BIO is {{ bio }}</h1>
    </li>
    <li>
        <h1 style= "font-size: 30px; color: #2b5b81; font-family: 'satisfy' ">Author BoD is {{ BoD }}</h1>
    </li>

    <a id="followListBTN" class="btn btn-default">Follow list</a>
    <p id="followListNotification" style="color:green">Add to wish list</p>
</div>
{% endblock %}
</body>

{% block javascript %}
  <script>
  var followListBTNz=document.getElementById('followListBTN');
  followListBTNz.addEventListener('click',function () {
      $.ajax({
            url: '{% url "followList" author.id %}',
            data: {

            },
            dataType: 'json',
            success: function (data) {
              if (data.rateStatus== 1) {
                alert("Added to your Follow list");
              }
              else if(data.rateStatus== 0){
                // alert("Your books is already on your wish list");
                var followListNotification=document.getElementById('followListNotification')
                followListNotification.innerHTML = "Already on your follow list"
                followListNotification.style.color ="red";
              }

            }
             });
  });
  </script>
  {% endblock %}
