<body style="background-image: url('/media/4.jpeg') ; background-size: 100%; ">
{% extends "base.html" %}

{% block content %}
    {% if authors %}
            <h3 align ="center" style= "font-size: 45px; color: orange; font-family: 'Lobster';">Authors</h3>
            <ul>
                {% for author in authors %}
                <div id = indexes  style="background-color:black; opacity:0.7; width:293px; height:320px;padding-left:20px;padding-top:20px;margin-left:20px;">
                    <a href = "/authors/{{ author.id }}/" ><img class="card-img-top" src="/media/{{ author.author_img }}" alt="" style="width:250px;height:250px;"><font style= "font-size: 25px; font-family: 'Lobster';">{{author.Author_Name}}</font> </a>                        <br>
                        <br>
                </div>

                {% endfor %}
            </ul>
            <center>
                <div class="pagination">
                  <span class="step-links">
                      {% if authors.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ authors.previous_page_number }}">previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ authors.number }} of {{ authors.paginator.num_pages }}.
                      </span>

                      {% if authors.has_next %}
                          <a href="?page={{ authors.next_page_number }}">next</a>
                          <a href="?page={{ authors.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                      </span>
              </div>
            </center>
        {% else %}
        <h3>you don't have any books</h3>
    {% endif %}
{% endblock %}
