{% extends "base.html" %}

{% block content %}
    {% if authors %}
            <h3 style= "font-size: 30px; color: #2b5b81; font-family: 'satisfy' ">The authors are:</h3>
            <ul>
                {% for author in authors %}
                <div id = indexes>
                    <a href = "/authors/{{ author.id }}/" ><img class="card-img-top" src="/media/{{ author.author_img }}" alt="" style="width:250px;height:250px;">{{author.Author_Name}} </a>
                        <br>
                        <br>
                </div>

                {% endfor %}
            </ul>
            <center>
                <div class="pagination">
                  <span class="step-links">
                      {% if authors.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ authors.previous_page_number }}">previous</a>
                      {% endif %}

                      <span class="current">
                          Page {{ authors.number }} of {{ authors.paginator.num_pages }}.
                      </span>

                      {% if authors.has_next %}
                          <a href="?page={{ authors.next_page_number }}">next</a>
                          <a href="?page={{ authors.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                      </span>
              </div>
            </center>
        {% else %}
        <h3>you don't have any books</h3>
    {% endif %}
{% endblock %}
